/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family-main: 'Inter', sans-serif;
    --font-family-accent: 'PressStart2P', sans-serif;
    --font-weight-bold: 715;
    --font-weight-regular: 410;
    --inline-size: clamp(375px, 100%, 700px);
    --bg-color: #fff;
    --button-text-color: var(--bg-color);
    --text-color: #000;
    --text-shadow-color: rgba(255, 255, 255, 0.5);
    --color-core: transparent;
    --color-core-finish: rgba(255, 255, 255, 1);
    --animation-fill-color: transparent;
    --animation-fill-color-finish: rgba(255, 0, 0, 1);
    --color-contour: #000;
    --color-heart-hover: #000;
}
